<a href="https://colab.research.google.com/github/Syed-Bilal-8008/2025-26-4075-Bilal-AI-B-DS/blob/main/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=10
b=20
print(a)
print(b)

10
20

In [2]:
# SET OPERATIONS
s1 = {10, 20, 30, 40}
s2 = {30, 40, 50, 60}
print("Union using method:", s1.union(s2))
print("Intersection using method:", s1.intersection(s2))
print("Difference using method:", s1.difference(s2))
print("Symmetric difference using method:", s1.symmetric_difference(s2))

Union using method: {40, 10, 50, 20, 60, 30}
Intersection using method: {40, 30}
Difference using method: {10, 20}
Symmetric difference using method: {10, 50, 20, 60}

In [3]:
# Creating tuples
t = (10, 20, 30, 40, 20)
print("Original tuple:", t)

Original tuple: (10, 20, 30, 40, 20)

In [4]:
# Accessing elements
t = (10, 20, 30, 40, 20)
print("First element:", t[0])
print("Last element:", t[-1])

First element: 10
Last element: 20

In [5]:
# Slicing
t = (10, 20, 30, 40, 20)
print("Sliced tuple:", t[1:4])

Sliced tuple: (20, 30, 40)

In [6]:
# Length
t = (10, 20, 30, 40, 20)
print("Length of tuple:", len(t))

Length of tuple: 5

In [7]:
# Counting elements
t = (10, 20, 30, 40, 20)
print("Count of 20:", t.count(20))

Count of 20: 2

In [8]:
# Finding index
t = (10, 20, 30, 40, 20)
print("Index of 40:", t.index(40))

Index of 40: 3

In [9]:
#Looping
t = (10, 20, 30, 40, 20)
print("Tuple elements:")
for item in t:
    print(item)

Tuple elements:
10
20
30
40
20

In [10]:
# Concatenation
t = (10, 20, 30, 40, 20)
t2 = (50, 60)
t3 = t + t2
print("After concatenation:", t3)

After concatenation: (10, 20, 30, 40, 20, 50, 60)

In [11]:
# Repetition
t = (10, 20, 30, 40, 20)
t4 = t * 2
print("After repetition:", t4)

After repetition: (10, 20, 30, 40, 20, 10, 20, 30, 40, 20)

In [12]:
# Nested tuple
t = (10, 20, 30, 40, 20)
nested = (1, (2, 3), (4, 5))
print("Nested tuple element:", nested[1][0])

Nested tuple element: 2