<a href="https://colab.research.google.com/github/Syed-Bilal-8008/2025-26-4075-Bilal-AI-B-DS/blob/main/DataFramegroupbyoperations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
#simple dataframe
data={
    "department":["IT","IT","HR","HR","finance"],
    "name":["A","B","C","D","E"],
    "marks":[80,85,75,80,90]
}
df=pd.DataFrame(data)
print(df)

  department name  marks
0         IT    A     80
1         IT    B     85
2         HR    C     75
3         HR    D     80
4    finance    E     90

In [8]:
# grouping operation - sum of marks department wise
print("average  marks by department:")
print(df.groupby("department")["marks"].mean())

average  marks by department:
department
HR         77.5
IT         82.5
finance    90.0
Name: marks, dtype: float64

In [6]:
#total
print("\n Total marks by dep :")
print(df.groupby("department")["marks"].sum())

 Total marks by dep :
department
HR         155
IT         165
finance     90
Name: marks, dtype: int64

In [9]:
#grouping- count
print("\n student count by department :")
print(df.groupby("department")["marks"].count())

 student count by department :
department
HR         2
IT         2
finance    1
Name: marks, dtype: int64