<a href="https://colab.research.google.com/github/Syed-Bilal-8008/2025-26-4075-Bilal-AI-B-DS/blob/main/dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Creating a dictionary
d = {
    "name": "Bilal",
    "age": 20,
    "course": "BTech"
    }
print("Original dictionary:", d)

Original dictionary: {'name': 'Bilal', 'age': 20, 'course': 'BTech'}

In [3]:
d = {
    "name": "bilal",
    "age": 20,
    "course": "BTech"
}
# Accessing values
print("Name:", d["name"])
print("Age:", d.get("age"))

Name: bilal
Age: 20

In [4]:
d = {
    "name": "Bilal",
    "age": 20,
    "course": "BTech"
}
# Adding a new key-value pair
d["college"] = "XYZ University"
print("After adding:", d)

After adding: {'name': 'Amulya', 'age': 20, 'course': 'BTech', 'college': 'XYZ University'}

In [5]:
d = {
    "name": "Bilal",
    "age": 20,
    "course": "BTech"
}
# Updating value
d["age"] = 21
print("After updating:", d)

After updating: {'name': 'Bilal', 'age': 21, 'course': 'BTech'}

In [6]:
d = {
    "name": "Bilal",
    "age": 20,
    "course": "BTech"
}
# Removing elements
d.pop("course")
print("After pop:", d)
removed_item = d.popitem()
print("After popitem:", d)
print("Removed item:", removed_item)

After pop: {'name': 'Bilal', 'age': 20}
After popitem: {'name': 'Bilal'}
Removed item: ('age', 20)

In [7]:
d = {
    "name": "Bilal",
    "age": 20,
    "course": "BTech"
}
# Keys, values, items
print("Keys:", d.keys())
print("Values:", d.values())
print("Items:", d.items())

Keys: dict_keys(['name', 'age', 'course'])
Values: dict_values(['Amulya', 20, 'BTech'])
Items: dict_items([('name', 'Amulya'), ('age', 20), ('course', 'BTech')])

In [8]:
d = {
    "name": "Bilal",
    "age": 20,
    "course": "BTech"
}
# Length
print("Length of dictionary:", len(d))

Length of dictionary: 3