<a href="https://colab.research.google.com/github/Syed-Bilal-8008/2025-26-4075-Bilal-AI-B-DS/blob/main/selectiondata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#selection data
import pandas as pd
data = {
    'ID':[101,102,103,104,105],
    'name':["alice","bob","charlie","david","eva"],
    'age':[22,25,23,24,26],
    'marks':[85,78,92,88,90]
}
df=pd.DataFrame(data)
print(df)
print(df['name'])
print(df['marks'])
df[['name','marks']]
print('location 0',df.iloc[0])
print('location 1 to 4',df.iloc[1:4])
print('location 1 to 3',df.iloc[0:3,1:3])

    ID     name  age  marks
0  101    alice   22     85
1  102      bob   25     78
2  103  charlie   23     92
3  104    david   24     88
4  105      eva   26     90
0      alice
1        bob
2    charlie
3      david
4        eva
Name: name, dtype: object
0    85
1    78
2    92
3    88
4    90
Name: marks, dtype: int64
location 0 ID         101
name     alice
age         22
marks       85
Name: 0, dtype: object
location 1 to 4     ID     name  age  marks
1  102      bob   25     78
2  103  charlie   23     92
3  104    david   24     88
location 1 to 3       name  age
0    alice   22
1      bob   25
2  charlie   23